[2014-11-30 14:05] agazzarini opened #1 "Custom UpdateRequestHandler for handling RDF data"
A customized UpdateRequestHandler that uses Jena (riot) API for parsing and loading RDF data in several formats (those supported in Jena).

[2014-11-30 14:05] agazzarini opened #2 "Project layout"
Project structure and layout + Maven configuration.

[2014-12-01 18:00] #1 closed, assigned to agazzarini

[2014-12-01 18:01] agazzarini opened #3 "Asynch BulkLoader in RdfUpdateRequestHandler"
In order to load huge dataset the URH needs a kind of async / multithreaded loader (something like the ConcurrentUpdateSolrServer on Solrj side)

[2014-12-01 18:02] #2 closed, assigned to agazzarini

[2014-12-05 17:57] agazzarini opened #4 "Sparql Query Parser"

[2014-12-05 17:59] agazzarini opened #5 "(Index) Analyzers and Tokenizers"
Index logic should be better handled in A&T instead of the current UpdateRequestProcessor

[2014-12-09 14:33] agazzarini opened #6 "SPARQL QueryComponent"

[2014-12-11 14:30] agazzarini opened #7 "Development files"
Includes

- Maven launch configurations
- Checkstyle files
- ...

[2014-12-11 14:33] agazzarini opened #8 "Integration Tests"
Here I can use the same approach of jena-nosql project

[2014-12-11 16:44] agazzarini opened #9 "SPARQL Results Response writer"
A custom QueryResponseWriter that writes query execution results using application/sparql-results+xml (see https://www.google.it/search?q=w3c+sparql+1.1&gws_rd=cr&ei=zMmJVOqmCJHWauLHgdgG)

[2014-12-12 18:01] agazzarini opened #10 "HttpServletRequest in SolrQueryRequest.context"
SPARQL response writer uses the "Accept" HTTP request header for determining the output format. By default this information is not available in SolrQueryRequest and needs to be enabled in solrconfig.xml

[2014-12-12 18:03] #10 closed, assigned to agazzarini

[2014-12-12 18:08] agazzarini opened #11 "Wiki"
Task for creating the wiki associated with the project.

[2014-12-12 18:17] agazzarini opened #12 "Code clean-up"
General catch-all task for fixes, codestyle refactoring that are not related with a specific issue.

[2014-12-12 18:18] agazzarini opened #13 "Conjunction or Disjunction with Jena-NoSQL (Solr binding) project"

[2014-12-19 17:01] agazzarini opened #14 "Include a sample dataset"
Include a sample dataset for the "get me up and running" guide

[2014-12-19 17:04] #14 closed, assigned to agazzarini

[2014-12-23 20:58] agazzarini opened #15 "(Unit) Test coverage 90%"

[2014-12-23 21:19] agazzarini opened #16 "Move persistence logic into SolrGraphDAO"

[2014-12-24 11:35] #9 closed, assigned to agazzarini

[2014-12-24 11:37] #6 closed, assigned to agazzarini

[2015-01-01 11:32] agazzarini commented on #13
Although the framework part of jena-nosql could be reused here, the server-side nature of SolRDF would force a lot of confusion in the usage and in the framework itself...so at the moment I'll consider SolRDF as an independent project

[2015-01-01 11:32] #13 closed

[2015-01-01 16:19] agazzarini commented on #16
From a first refactoring cycle, I definitely removed the SOlrGraphDAO at all: the Graph implementation can perfectly acts also as a data access object: there's no need to have an additional layer.

Good thing is that the R/W logic is completely within the Graph implementation...however, the overall design is not so clear...I don't like it, too much objects passed between layers

[2015-01-02 13:54] agazzarini opened #17 "Add support for N-QUADS"

[2015-01-07 10:09] agazzarini commented on #17
Closed with https://github.com/agazzarini/SolRDF/commit/1579985b5a81ba06689503a50ce92ab9a90d0e3f

[2015-01-07 10:09] #17 closed

[2015-01-07 10:09] agazzarini opened #18 "Autodetection of the incoming data format"

[2015-01-08 08:33] agazzarini opened #19 "Add support for UPDATE operations"
Update operations like INSERT / DELETE seem to be handled with a different parser.  As consequence of that, at the moment, those kind of requests fail in the parse phase therefore resulting in a 500 INTERNAL SERVER ERROR

[2015-01-08 08:45] agazzarini opened #20 "Log and MessageCatalog"
Add logging package (as in jena-nosql)

[2015-01-08 09:58] #20 closed

[2015-01-11 16:33] #19 closed

[2015-01-11 16:36] agazzarini opened #23 "SolRDFGraph refactoring (build artifacts logic)"
The build logic within the SolRDFGraph (for adapting between the Solr and Jena worlds) should be more cohesive and, for example, it could be isolated with a builder pattern.

[2015-01-11 16:46] agazzarini opened #24 "SPARQL1.1 (Bulk) Update"
The application/sparql-update content type must be supported also in bulk updates

[2015-01-11 16:49] #24 closed

[2015-01-11 17:10] #7 closed

[2015-01-28 13:49] agazzarini commented on #18
Closed: a Content-type header is required. The filename is not part of the incoming content stream so in order to guess the right format we should enter in the file content and try several parsers...absolutely bad.

[2015-01-28 13:49] #18 closed

[2015-01-28 13:51] #4 closed

[2015-01-28 17:03] agazzarini opened #25 "Add a StandardSearchHandler for debugging purposes"

[2015-01-28 17:10] #25 closed

[2015-01-29 08:59] agazzarini opened #26 "SPARQL 1.1 Graph Store HTTP Protocol"
see http://www.w3.org/TR/sparql11-http-rdf-update/

[2015-02-01 10:25] agazzarini opened #27 "Relfinder graph is not working with SolRDF"
RelFinder (http://www.visualdataweb.org/relfinder.php) doesn't show any node in the graph section when connected with SolRDF.

I tried to load several datasets with the same result: the autocompletion is working but after pressing the "Find relations" button no relation is found (and no graph is drawn). I can see that SPARQL queries arrive correctly on SolRDF.

[2015-02-01 10:59] agazzarini opened #28 "RDF Faceting"
Some pointers:

http://iswc2006.semanticweb.org/items/Oren2006nx.pdf
http://www.cs.ox.ac.uk/files/6686/main.pdf
http://www.w3.org/2001/sw/wiki/Facet

[2015-02-01 15:34] agazzarini opened #29 "ResponseWriter is not working with composite Accept headers"
e.g. Accept: Accept: text/turtle; charset=utf-8

produces:

16:33:22,296 INFO  [store] webapp=/solr path=/rdf-graph-store params={default=} status=0 QTime=1063
16:33:22,309 ERROR null:org.apache.jena.riot.RiotException: No graph writer for null
	at org.apache.jena.riot.RDFDataMgr.createGraphWriter$(RDFDataMgr.java:1304)
	at org.apache.jena.riot.RDFDataMgr.write$(RDFDataMgr.java:1318)
	at org.apach

[2015-02-02 15:22] agazzarini opened #30 "Add a default writer (i.e accept content-type) in ResponseWriter"
16:21:03,081 INFO  [store] webapp=/solr path=/rdf-graph-store params={default=} status=0 QTime=3
16:21:03,082 ERROR null:org.apache.jena.riot.RiotException: No graph writer for null
	at org.apache.jena.riot.RDFDataMgr.createGraphWriter$(RDFDataMgr.java:1304)
	at org.apache.jena.riot.RDFDataMgr.write$(RDFDataMgr.java:1318)
	at org.apache.jena.riot.RDFDataMgr.write(RDFDataMgr.java:1085)
	at org.apac

[2015-02-05 08:46] agazzarini commented on #26
Requests are primarily handled in SolrRequestParsers. This class is not pluggable (The SolrConfig creates a new instance within its constructor). Here, there's a hard-coded management of HTTP methods. Specifically:

GET is supposed to be used for queries
POST for posting data

DELETE and PUT only for configuration and schema management.

The Graph Store specs defines a bit different behaviour for

[2015-02-05 19:54] agazzarini commented on #26
So at the moment, in order to be able to execute the integration test suite, i have to send some direct command to Solr (mainly for delete data after each test and for commits)

Each test will therefore:

- load some data using the POST service of the GraphStoreProtocolHandler
- commit changes (i.e. send a commit to Solr)

- query the dataset

- check the result

- delete data and commit changes

[2015-02-08 18:25] agazzarini opened #31 "Dataset Conversion module"
This is a crazy idea, but it could be definitely useful to have a transformation module that allows (XPATH + some rules?) a pseudo-automatic conversion of a given dataset

[2015-02-14 15:47] #5 closed

[2015-02-14 17:48] agazzarini commented on #8
Integration test suite has been implemented and merged, but I'm leaving this issue open as no all tests have been put.

[2015-02-14 17:49] agazzarini commented on #3
Closing this issue as I'm not really sure if it is needed

[2015-02-14 17:49] #3 closed

[2015-02-14 17:52] agazzarini commented on #30
The issue has been closed as indirect consequence of the "integration test suite" issue. The SparqlResponseWriter implements a delegate logic that, based on the incoming request and the kind of query that has been received, negotiate and determines the appropriate response content type.

[2015-02-14 17:52] #30 closed

[2015-03-09 14:11] agazzarini opened #34 "rows & start"
As another important point of conjunction between RDF and Solr, we need to handle "rows" and "start" parameter on a Hybrid SPARQL query.

[2015-03-10 16:19] agazzarini opened #35 "Malformed queries should return a 400 status code"
Actually, in case the incoming query is malformed, a 500 Internal Server error is raised, but I think it's wrong because it should actually be a BAD_REQUEST.

 17:16:46,853 ERROR java.io.IOException: org.apache.solr.search.SyntaxError: com.hp.hpl.jena.query.QueryParseException: Encountered " "<" "< "" at line 1, column 22.
Was expecting one of:
    <IRIref> ...
    <PNAME_NS> ...
    <PNAME_LN> ..

[2015-03-10 17:19] agazzarini opened #36 "ValueObject for wrapping paged results"
I need something like SolrDocumentList that must be created in SparqlSearchComponent and subsequently used in HybridResponseWriter.

At the moment there are a lot of information that are added using Response.add and this is not a good thing because that data + behaviour should be a dedicated entity (otherwise I have to remember all those properties name by name)

[2015-03-11 15:55] agazzarini commented on #28
Facet fields have been implemented but while developing things for issue #34 I met some mistakes

[2015-03-11 16:01] agazzarini opened #37 "Integration tests are failing"
Something introduced with #33 broke the integration test suite.
If I start SolRDF with a

and then I run the integration tests by means of Eclipse launch configuration, all tests are green.
The failure happen when I run:

which should automatically run the suite.

[2015-03-11 16:04] agazzarini commented on #37
Ok, done. The problem is in the launch configuration

Doesn't make sense because the install is starting up a new jetty instance (and the cargo:run does the same)

So the following combination are valid:

[2015-03-11 16:04] #37 closed

[2015-03-13 17:07] agazzarini opened #38 "Auto-adaptable fetch size in DeepPagingIterator"

[2015-03-13 18:01] agazzarini opened #39 "Micro-opt: skip state machine on DPI in case of rows=0"

[2015-03-14 11:34] agazzarini commented on #39
Note that even in case of zero rows at least one next() invocation must happen on resultset. This is needed for DocSet computation

[2015-03-15 17:46] agazzarini opened #40 "DeepPagingIterator is iterating twice!"
The finite state machine of DPI needs to be checked and tested better because it is doubling the iteration needed to collect a query results!

[2015-03-16 06:52] agazzarini opened #41 "SolRDFGraph : immutable TermQueries"
Some TermQuery (e.g. language) can be cached and therfore reused across several Graphs

[2015-03-16 09:28] agazzarini commented on #34
"rows" and "start" request parameters are now supported in Hybrid mode, therefore allowing pagination of SPARQL query responses without using LIMIT keyword. In addition this makes a concrete sense to the faceting feature introduced with the issue #28

[2015-03-16 09:28] #34 closed

[2015-03-16 11:57] #41 closed

[2015-03-16 15:08] agazzarini opened #43 "Duplicated message SOLRDF-000092 (Content type detection)"
16:05:13,155 DEBUG <SOLRDF-00092> : Query type 111, incoming Accept header is application/sparql-results+xml, applied Content-type is application/sparql-results+xml
16:05:13,156 DEBUG <SOLRDF-00092> : Query type 111, incoming Accept header is application/sparql-results+xml, applied Content-type is application/sparql-results+xml

That is because the getContentType is called twice: the first as part

[2015-03-17 13:18] agazzarini commented on #40
Closed, as the problem was a lazy skip of unneeded (initial) rows in PagedResultSet. Now that initial skip is done in the constructor.

[2015-03-17 13:18] #40 closed

[2015-03-17 13:45] agazzarini commented on #28
Facet fields have been correctly implemented with fixes committed for issue #34.
Next Step: facet queries

[2015-03-19 11:04] agazzarini commented on #26
As described here [1] the feature has been partially implemented (that's the reason I called it "pseudo")

[1] https://github.com/agazzarini/SolRDF/wiki/User%20Guide#pseudo-graph-store-protocol-support

[2015-03-19 11:04] #26 closed

[2015-03-20 13:53] agazzarini opened #44 "Integration with SolrCloud (RDF Mode)"
Move the current (standalone) implementation to SolrCloud

[2015-03-20 15:53] agazzarini opened #45 "facet.query is not working with {!sparql}"
[code]

Produces

[code]

[2015-03-22 17:46] agazzarini commented on #28
Facet queries work only with Solr default query parser. Instead, using {!sparql} always results in 0 counts.

[2015-03-22 17:56] #35 closed

[2015-03-22 18:02] agazzarini commented on #43
Ok, not the best solution of my life, but a simple if solved the issue.

[2015-03-22 18:02] #43 closed

[2015-03-23 08:37] agazzarini commented on #39
No longer valid with the new implementation of DPI

[2015-03-23 08:37] #39 closed

[2015-03-25 15:16] agazzarini opened #46 "Namespaces and prefixes support"
Add support for "inbound" and "outbound" prefixes and namespaces

[2015-03-27 16:05] agazzarini commented on #28
A first draft of facet range queries has been pushed out. It is still in r_rdf_faceting branch because it is not completed. However, strictly "facet ranges" are not supported: instead, we have "facet range queries", where one can facet by using a query (evaluated by a default solr query parser) that selects literals (numerics and dates) and applies facet ranges on top of them. More info on Wiki so

[2015-03-31 18:48] agazzarini commented on #28
The functionality has been implemented but not yet commited.

Being able to support aliased and non-aliased facet range queries, i had to introduced a query syntax with parameters for allowing a user to do thjngs like this

[code]

[2015-03-31 18:55] agazzarini commented on #45
Queries in facet.query (and fq as well) doesn't pass through a SearchComponent. As consequence of that SolRDF classes are not involved (e.g. SolRDFGraph / Dataset), the SPARQL query is parsed by Solr query parser and rhe corresponding execution results in 0 results.

[2015-04-02 17:36] agazzarini opened #47 "RDF Faceting: facet field queries"
The plain facet.field, although being the first conjunction step between RDF and Solr capabilities, is quite unuseful; instead in an RDF context it should be useful to have a new kind of field faceting where the objects can be selected by a query on a given field. For example

facet.field.q=p:<http://a.b.c#publication_year>

So a query, parsed by default with a Solr Query Parser, could identify th

[2015-04-03 16:38] agazzarini commented on #45
Closing this issue as this doesn't make much sense in SolRDF context.

[2015-04-03 16:38] #45 closed

[2015-04-05 16:07] agazzarini commented on #28
A stable version of this feature has been implemented and merged in master. Missing points are

- local params
- integration tests
- better coverage of unit tests

[2015-04-05 16:09] agazzarini opened #49 "SolRDF installation for demonstration purposes"
A sample and simple SolRDF installation that can act as a reference endpoint for examples, tests and documentation.

[2015-04-07 04:56] azeem87 opened #50 "SolrRdf running issue"
[INFO] [beddedLocalContainer] Jetty 7.6.15.v20140411 Embedded starting...
2015-04-07 10:12:30.194:INFO:oejs.Server:jetty-7.6.15.v20140411
2015-04-07 10:12:30.243:INFO:oejw.WebInfConfiguration:Extract jar:file:/D:/MavenSpringRepo/org/apache/solr/solr/4.10.3/solr-4.10.3.war!/ to C:\Users\443776\AppData\Local\Temp\jetty-0.0.0.0-8080-solr-4.10.3.war-_solr-any-\webapp
2015-04-07 10:12:40.442:INFO:oejsh

[2015-04-07 04:58] azeem87 commented on #50
i am able to see the jetty port running, but after this i am not able to push rdf sample data in test/resources folder.

[2015-04-07 04:59] azeem87 commented on #50
i am testing in windows machine. project imported in ecplise

[2015-04-07 06:41] agazzarini commented on #50
Thanks for entering this issue. I'm working on this.
It has to do with the windows path of the log4j configuration file. I fixed that in my locale environment, but I have to test it with Windows so, just a little bit to setup a VM and I will let you know.

[2015-04-07 06:55] agazzarini opened #51 "Downloadable Installer or bundle"
At the moment the only way to use and install SolRDF is using a Maven build.
It would be great to also have a separate, ready-to-use (maybe an izpack installer) downloadable bundle that setup SolRDF on top of an existing Solr installation.

[2015-04-07 08:27] azeem87 commented on #50
thanks for your contribution. eagarly waiting for the update.

[2015-04-07 09:19] agazzarini commented on #50
Ok, close, the latest version of master contains the fix

@azeem87 Note that if you're on Eclipse I prepared a ready-to-use Maven launch configuration. You can find that under $PROJECT_HOME/solrdf/src/dev/eclipse

Just right click on them and select Debug As >> start-SolRDF

IMPORTANT: as you can see I used "Debug As" instead of "Run As". That is because of an annoying bug on Eclipse, which someti

[2015-04-07 09:19] #50 closed

[2015-04-07 09:46] azeem87 commented on #50
thanks , now i am able to run the code..

[2015-04-07 09:50] azeem87 opened #52 "Data import Issue"
After running
curl -v http://localhost:8080/solr/store/update/bulk?commit=true \
-H "Content-Type: application/n-triples" \
--data-binary @/tmp/solrdf-download/solrdf/src/test/resources/sample-data/bsbm-generated-dataset.nt

I got this response

<?xml version="1.0" encoding="UTF-8"?>
response
    lst name="responseHeader">
        <int name="status">0</int>
        <int name="QTime">5</int>
    ls

[2015-04-07 09:52] azeem87 commented on #52
webapp=/solr path=/update/bulk params={commit=true} status=0 QTime=5 , this was the reponse i get  when i push the content , when try to check with admin ui, no data is imported

[2015-04-07 10:03] agazzarini commented on #52
If you're still running on Windows, I remember from a preceding issue
that the project path is not under a /tmp folder
So most probably the path after @ in the curl command is not pointing to
the sample dataset

Let me know.

In case it still doesn't work please paste the SolRDF console log, too

On 04/07/2015 11:52 AM, azeem87 wrote:

[2015-04-07 10:04] azeem87 commented on #52
i am trying this using postman rest client

[2015-04-07 10:09] agazzarini commented on #52
Sorry I don't know it. So you aren't doing

After running

If so,

- could you please give me the URL of such tool?
- are you sure you're indicating the right sample datafile path?
- could you please paste the SolRDF output log

Best,
Andrea

2015-04-07 12:04 GMT+02:00 azeem87 <notifications@github.com>:

[2015-04-07 10:13] azeem87 commented on #52
![image](https://cloud.githubusercontent.com/assets/11553172/7021184/d5425db2-dd3c-11e4-8b11-d35152350ca3.png)

[2015-04-07 10:14] azeem87 commented on #52
i am using chrome extension "postman" rest client.. u can try if u have chrome browser.

[2015-04-07 10:16] agazzarini commented on #52
Ok, give me a minute, I will try to do the same

2015-04-07 12:14 GMT+02:00 azeem87 <notifications@github.com>:

[2015-04-07 11:03] agazzarini commented on #52
Well, at first glance it seems that cURL and Postman are doing something different. cURL is sending the content of the file, not the file itself, while postman is not streaming the file content.

What happening with cURL is like you choose "Raw" in postman and put the file content (1.2MB!) on the textarea.

This is annoying because I thought on Solr side they were seen in the same way, but it is n

[2015-04-07 11:20] azeem87 commented on #52
Thank u so much. its working now

[2015-04-07 13:31] agazzarini commented on #52
@azeem87 I just updated the master and the Wiki [1], too

Briefly, using a slightly different sintax, and a plain GET request, you can send local or remote data:

[code]
So you can issue this kind of request using the browser address bar, without going through Postman. Solr supports also a similar parameter (stream.url) for indexing remote resources

Best and many thanks for pointing this.
Andrea

[2015-04-07 13:32] #52 closed

[2015-04-07 13:43] agazzarini commented on #52
[code]

[2015-04-07 16:57] agazzarini commented on #51
A new download folder has been created with a packaged and ready-to-use solr.home (conf files + dependencies)

[2015-04-07 17:15] agazzarini commented on #51
Wiki has been updated, too  [1]. Now it contains 2 sections: how to do in case a)you don't have Solr installed b) you already have Solr installed.

[2015-04-07 17:15] #51 closed

[2015-04-07 17:15] agazzarini commented on #51
[1] https://github.com/agazzarini/SolRDF/wiki/User%20Guide#get-me-up-and-running

[2015-04-08 08:32] agazzarini commented on #11
I'm closing this issue as a relevant section of the Wiki has been created. Now it's just matter of document, update and improve.

[2015-04-08 08:32] #11 closed

[2015-04-13 17:35] agazzarini commented on #27
Although something needs to be clarified (especially the queries Relfinder is doing), most probably the issue was in the dataset I indexed in SolRDF.

The following is a screenshot of Refinder after indexing the Library of Congress Subject Headings...and at first glance it seems good ;)

![graph1](https://cloud.githubusercontent.com/assets/7569632/7121335/28e631a6-e214-11e4-96ac-2a1f53f575d2.png)

[2015-04-14 14:14] agazzarini commented on #27
Ok, closing this issue as the Relfinder graph seems working now

[2015-04-14 14:14] #27 closed

[2015-04-15 07:35] ahagenbruch opened #53 "Querying string literals with diacritics or angle brackets yields no result"
I have indexed a dump of the authority data by the German National Library (cf. http://d-nb.info/standards/elementset/gnd). When I now query for objects including diacritical marks or angle brackets the relevant triples can't be found.

For example the GND holds information on "Frühe Neuzeit" (Early Modern Period):
[code]

But when I query for "Frühe Neuzeit" I get an empty result:
[code]

Whereas

[2015-04-15 16:55] agazzarini commented on #53
Hi @ahagenbruch many thanks for entering this and sorry for delay in response...I'm receing too many emails in these days :)

I will keep you with some news as soon as possible

[2015-04-15 16:57] agazzarini commented on #47
Work is moreless completed, not yet committed because I want to create a huge test suite for this specific feature.

More details soon in the Wiki

[2015-04-15 16:59] ahagenbruch commented on #53
Sorry for the SPARQL endpoint being unavailable at the moment, but we had a massive power outage this afternoon and I can't restart the machine before tomorrow morning...

[2015-04-15 17:00] agazzarini opened #54 "Autodetect object "hint" type for object queries faceting"
At the moment, although the feature hasn't been merged in master, the object queries faceting assumes that for each query a requestor must specifiy also the "type" of facet he would expect.

Although it can be useful in some cases (e.g. disambiguation) usually it would be great if Solr would guess the requested type. How? I don't know at the moment

[2015-04-15 17:01] agazzarini commented on #53
No problem at all, because at the moment I'm fighting with a production issue in another project, so tomorrow sounds good

[2015-04-16 09:03] agazzarini commented on #53
Hi @ahagenbruch, the issue has been fixed in master branch, please get the latest version and  retry.
I reproduced your scenarios and fix a couple of hidden things that happened at query time, many thanks.

Please leave the issue open as I'm working on integration tests on a parallel branch and I added some verification tests for this scenario. Unfortunately they are not yet visible in the master

[2015-04-16 14:16] agazzarini commented on #53
Hi @ahagenbruch, I'm closing this issue as I integrated an integration test case that verifies and validates the behaviour described in this issue.

In case you get some other issue related with this matter, please reopen the issue.

[2015-04-16 14:16] #53 closed

[2015-04-16 15:17] ahagenbruch commented on #53
Hi @agazzarini, works like a charm now, thanks a lot...

[2015-04-16 16:42] agazzarini opened #56 "Message catalog in Wiki"
A new page on Wiki which describes each log message produced by SolRDF. For each message it should be described

- a code
- the message
- the log level
- a description
- in case some action is required, a brief note about that

[2015-04-16 16:42] agazzarini opened #57 "Message catalog in Wiki"
A new page on Wiki which describes each log message produced by SolRDF. For each message it should be described

- a code
- the message
- the log level
- a description
- in case some action is required, a brief note about that

[2015-04-16 17:10] agazzarini opened #58 "LocalParams are not handled in RDFacets"
See RDFacets:163

[2015-04-17 08:35] #56 closed

[2015-04-19 16:27] agazzarini commented on #57
https://github.com/agazzarini/SolRDF/wiki/Message%20Catalog

[2015-04-19 16:27] #57 closed

[2015-04-21 08:29] ahagenbruch opened #60 "SPARQL DESCRIBE ignores Accept Header"
Hi @agazzarini, when sending DESCRIBE queries such as

[code]
the Accept header is ignored and RDF/XML is being returned:

[code]

It would be nice if content negotiation worked for these queries, because some tools such as https://github.com/RubenVerborgh/N3.js don't process RDF/XML...

[2015-04-21 08:50] agazzarini commented on #60
Hi @ahagenbruch,
That was a stupid mistake within solrconfig.xml:

[code]

So *turtles" instead of "turtle" ;)

Now it should be ok

[2015-04-21 09:26] ahagenbruch commented on #60
Yep, that was it! Thanks a lot...

[2015-04-21 09:26] #60 closed

[2015-04-21 16:41] agazzarini commented on #8
Integration tests for Object Query Faceting has been merged into master

[2015-04-24 05:38] agazzarini opened #61 "DatasetGraphFactory for Cloud / Standalone mode"
There must be a family of abstract "products" like SolRDFGraph, Dataset and so on. At runtime, depending on thr running mode (cloud or standalone) an AbstractFactory will be in charge to select the appropriate family and therefore to create the concrete products.

[2015-04-24 11:42] agazzarini opened #62 "SilkUpdateRequestProcessor"
As part of the index chain it would be useful to have an UpdateRequestProcessor that manage Silk [1]  and provides interlinking services to the incoming data

---------------------------------------
[1] http://silk-framework.com/

[2015-04-24 11:43] agazzarini opened #63 "SilkSearchComponent"
Although I'm not really sure if this makes sense, Silk [1] could be used at query time (as a SearchComponent) to provide realtime additional links

---------------------------------------
[1] http://silk-framework.com/

[2015-04-25 16:46] agazzarini commented on #62
Renamed in "SilkRequestHandler" as it seems it doesn't make sense to run the interlinking process for each triple. That process should be executed on top of a ready dataset and not while indexing. So I think a good way to embed this functionality would be a dedicated RequestHandler that triggers the interlinking process, after some data have been properly indexed.

[2015-04-25 17:11] agazzarini opened #64 "Wrong execution of queries with namespaces containing #"
It seems that something (silent) happens dueing the execution of queries like

[code]

doesn't work, it doesn't produce the expected results. Specifically, the previous query returns 0 results on a store that contains the whole LCSH (!). Although I'm not sure, this is probably due

[2015-04-25 19:28] agazzarini commented on #64
Fixed. That was related with the (object) URI encoding.

An integration test case (Issue64_ITCase), a test dataset (issue_64_wrong_results.ttl) and a test query (issue_64_wrong_results.rq) have been committed to certify the correct behaviour.
Regression testing is good (i.e. green) as the change doesn't seem to impact them

[2015-04-25 19:28] #64 closed

[2015-04-28 06:12] agazzarini commented on #44
Finally I got distributed (RDF) indexing but I had to fight (loosing of course) against SOLR-3473 [1]
I didn't get the exact point of what was happening, but at the end I had to remove the custom update chain with the SignatureUpdateProcessor. That "auto" id feature has been replaced with a custom function in the SolRDFGraph.
------------------
[1] https://issues.apache.org/jira/browse/SOLR-3473

[2015-04-28 06:14] agazzarini commented on #44
Code is still in r_solrcloud branch as the "querying" part is not working. In addition, in order to maintain retrocompatibility, I need to implement the issue #61 before.

[2015-04-28 17:11] agazzarini commented on #61
Simply renamed in "DatasetGraphFactory" as we don't need a "family" of domain objects. Everything is created on top of a concrete implementation of a DatasetGraph, so a factory actually makes sense only here, for this specific interface.

[2015-04-28 19:36] agazzarini commented on #61
![datasetgraph_factory_cd](https://cloud.githubusercontent.com/assets/7569632/7378574/a73521a8-edee-11e4-9c58-0a0399e52bd5.jpeg)

[2015-04-28 20:14] agazzarini opened #66 "Solrj in SolRDF"
Solrj is not working with SolRDF because the different structure of the result section. Although for test cases I did some workaround with subclassing, a working and easy client lib would be a nice addition for SolRDF clients.

[2015-04-29 10:47] agazzarini opened #67 "RDF Faceting: facet pivot objects queries"
Following the same approach of #28 and #47 the idea is to implement Pivot faceting [1] on SolRDF

-----------------------------------
[1] https://cwiki.apache.org/confluence/display/solr/Faceting#Faceting-Pivot(DecisionTree)Faceting

[2015-04-29 17:44] agazzarini commented on #61
I'm closing this issue as the factory has been implemented (not yet in the master because this is part of the overall work needed for #44)

[2015-04-29 17:44] #61 closed

[2015-04-29 17:46] agazzarini commented on #44
A great (at least I think) step ahead: I successfully ran a SolRDF in Cloud mode (i.e. SolrCloud) with a small cluster (5 nodes, 3 shards, 2 replicas).

**It is still part of the r_solrcloud dev branch, so not yet merged in the master.**

Both the indexing and querying operations are distributed according with SolrCloud behaviour. That means a free of charge, simple and proven distributed RDF stor

[2015-04-29 20:07] agazzarini commented on #44
Work done for integration SolrCloud has been merged because the previous (standalone) behaviour hasn't been affected: instead of having a DatasetGraphFactory as illustrated in the picture above, the component which is in charge to detect the appropriate DatasetGraph implementation is the SPARQLSearchComponent, which "switches" in standalone or cloud mode depending on the kind of running instance (

[2015-04-30 13:01] agazzarini opened #68 "Filter queries are ignored (!)"
Filter queries (fq) are ignored in /sparql (Query)SearchComponent.

[2015-04-30 13:06] ahagenbruch opened #69 "Dynamically Bootstrap Named Analysed Fields for Searching and Boosting"
Hi @agazzarini,
the current schema in SolRDF is mostly focused on the use case as a SPARQL endpoint, i.e. its object literals are being indexed into unanalysed string fields. To accomodate a more common use case where we also want to be able to do analysed field searching and per field boosting we could write object literals into named fields derived from the QNames. As Solr provides the mechanism

[2015-04-30 16:09] agazzarini commented on #69
Hi @ahagenbruch sounds really interesting. Many thanks for such detailed proposal.
I introduced the "Hybrid" mode for mixing Solr and plain RDF features so that could be something that goes under that direction. I strongly agree with you that StrFields have a limited power in terms of querying capabilities.

I have to read again your proposal and then investigate what kind of impacts it should hav

[2015-05-07 19:54] agazzarini opened #70 "SolRDF logo"
Thanks to  @ubdesign for this cool logo, which has been realized simply by a merge. Nice idea. I think I prefer more the version without "SolRDF".

![solrdf1](https://cloud.githubusercontent.com/assets/7569632/7524584/5971e1ba-f503-11e4-940e-72e808677c48.png)

![solrdf3](https://cloud.githubusercontent.com/assets/7569632/7524590/604323aa-f503-11e4-8ad6-ab1f52469fa8.png)

[2015-05-07 20:02] #70 closed

[2015-05-08 07:37] agazzarini commented on #70
![title](https://cloud.githubusercontent.com/assets/7569632/7532329/e6dda5a4-f565-11e4-9494-2cb20b5859e6.png)

[2015-05-08 19:37] agazzarini commented on #68
Short update: the issue is not so trivial as the "filter query" concept doesn't apply so much to a SPARQL execution plan. A complex graph pattern within the WHERE clause could be completely compromised if a filter is applied to the resulting docset. Since SPARQL already allows to filter graphs (by means of FILTER keyword),  the only things that we can filter out using fq parametrs are the output b

[2015-05-09 12:41] agazzarini opened #71 "Configure a default query (q or query) in sparql-query RH"
Although it is not required or it can be configured with another query, add in solrconfig.xml, in /sparql-query RequestHandler, a default value for q parameter (a select * SPARQL)

[2015-05-09 12:56] agazzarini commented on #71
I believe it is dangerous to configure a default value of SELECT * for q parameter. This is not a problem when SolRDF runs in Hybrid mode, as results are paginated. Instead, using the RDF mode, with a huge dataset, if the client simply forgets to specify the q / query parameter, the "select all" query will run without any limits at all.

For this reason I decided to put a "dfhq" (Default Hybrid Qu

[2015-05-09 13:40] #71 closed

[2015-05-09 13:54] agazzarini commented on #68
At the moment I'll suspend this issue as I have to understand better the functional goal that a filter query could have in a SPARQL context.

[2015-05-09 14:09] agazzarini opened #72 "Integration with SolrCloud (Hybrid Mode)"
This is the same thing of issue #44 but related with Hybrid mode.

[2015-05-10 16:39] agazzarini commented on #8
Short update on this: 49 Sparql integration tests with examples from "Learning SPARQL" book have been implemented.

[2015-05-12 07:56] agazzarini opened #73 "SPARQL Update protocol compliance"
The /sparql-update handler misses some important behaviour from the specs [1]. Specifically at the moment it doesn't support:

- UPDATE using URL-encoded parameters
- UPDATE using POST directly
- using-named-graph-uri
- multiple update operations in the same request

[2015-05-12 08:48] agazzarini commented on #73
A first patch has been applied: it allows to send Update requests using the "UPDATE using POST directly", that is, a POST HTTP Request with Content-type "application/sparql-update" and one update operation put in the body of the request.

[2015-05-12 12:41] agazzarini commented on #73
Added support for

- UPDATE using URL-encoded parameters
- UPDATE using POST directly
- multiple update operations in the same request

Message Catalog [1] has been updated according with a set of new messages

The USING / USING NAMED (using-graph-uri / using-named-graph-uri) are not supported as I need to get the point about Jena API and their usage). The code theoretically is already there but i

[2015-05-15 13:45] agazzarini opened #74 "SELECT doesn't work with boolean, numeric and date object literals"
The problem is: the QueryBuilder always uses a TermQuery for building the query expression. While for "o_s" things are working beacuse search terms are effectively converted in "TermQuery", for numeric a NumericRangeQuery should be used, for booleans a TermQuery with "T" or "F" and for dates something like TrieDateField.getRangeQuery

[2015-05-15 13:55] agazzarini commented on #74
Numeric, strings (and untyped) and boolean fields are ok. Dates still to be fixed.

[2015-05-15 15:03] agazzarini commented on #74
Issue is fixed as also queries on the remaining field type (date / datetime) has been fixed.

[2015-05-15 15:03] #74 closed

[2015-05-15 15:06] agazzarini commented on #73
I will update the Wiki as soon as possible but in the meantime this is what has been done

## Queries
Queries, according with that paper, can now be issued using three different ways:

#### Query via GET (probably the most widely used)

#### Query via URL-encoded POST

or

####  Query via POST directly

## Updates

#### Update via URL-encoded POST

#### Update via POST directly

Regardless the way

[2015-05-15 15:06] #73 closed

[2015-05-15 15:10] agazzarini commented on #8
Examples from page 1 to 99 of LearningSPARQL book have been included in the SPARQL Integration test suite.

[2015-05-15 16:37] michaeloa opened #75 "Getting started"
What environment are the instructions done for?

I've been trying to test this, but on two different machines, I'm simply hitting dependency cannot be resolved errors on everything. These are ubuntu precise (12.04) machines, so thinking that it might simply be the environment is too old, and I need to find a 14.04 setup to run this on.

[2015-05-15 20:01] agazzarini commented on #75
Hi Michael,
The environment is good, could you paste the error you're getting?
Dependency resolution seems something related with Maven.

Did you have a working internet connection on that machine? Maven is
somewhat "hairy" if it wasn't able to download some dependency...and
unfortunately just retrying after restablishing the connection doesn't work.

In case my assumption is right, you should rem

[2015-05-15 20:18] michaeloa commented on #75
Probably won't get around to looking at it any more this week (late). But I fired up a VM with 14.04, and that has now finished building and appears to be running fine. I'll take a look at it again on monday.

[2015-05-15 20:21] agazzarini commented on #75
Ok nice to hear. However, as I said, I don't think the OS version had something to do with that.

If you will get some information on monday, please post them here.

Thanks

[2015-05-16 12:17] agazzarini commented on #8
Added 8 additional integration tests (avr, group concat, sum, group by, using)

[2015-05-17 07:37] agazzarini commented on #73
Wiki updated: https://github.com/agazzarini/SolRDF/wiki/SPARQL-1.1-Protocol

[2015-05-17 07:47] agazzarini opened #76 "IzPack Installer"
The installation of a sample SolRDF is too much technical, regardless the two ways described in the "Get me up and running" page.

Building things from source [1] is useful in case you've a bit of familiarity with Java, Maven: it will download all required software and dependencies but at the same time you could meet some annoying Maven related things. This is probably what happened to the user wh

[2015-05-17 11:15] agazzarini opened #77 "SERVICE Keyword usage raises java.lang.ClassCastException: java.lang.Long cannot be cast to java.lang.Integer"
The ClassCastException exception is thrown when a SPARQL query contains the SERVICE keyword. It seems the problem is a different version of apache http libs between arq and Solr.

After moving from arq 2.12.1 to 2.13.0 the problem is still there

[2015-05-17 13:49] agazzarini opened #78 "ASK results are being written on stdout"
Wrong (current) code:
[code]
must be changed in:

[code]

[2015-05-17 14:00] agazzarini commented on #78
Issue has been fixed. Twelve integration tests [1] have been added for checking the correct behaviour.

--------------------------------
https://github.com/agazzarini/SolRDF/blob/master/solrdf/src/test/java/org/gazzax/labs/solrdf/integration/sparql/LearningSparql_ASK_ITCase.java

[2015-05-17 14:00] #78 closed

[2015-05-17 14:04] agazzarini commented on #77
This is a very annoying bug because it blocks all integration tests that are using the SERVICE keyword (and I suppose the same is valid for FROM, FROM NAMED, USING, USING NAMED keywords). While in a production environment that could be fixed by manually replacing the httpclient library with a newer version (>=4.3.2), doing that automatically is hard because Maven will automatically download and us

[2015-05-18 13:11] agazzarini commented on #69
@ahagenbruch I'm moving the discussion back here as these are concrete implementation details. Two doubts:

## Field name
You said, in your proposal:

[code]
What about the prefix? In your schema example we have a skos:notation and ok, skos is a widely used / standard namespace. But what about custom namespaces? It doesn't sound good to index something like:

[code]
because "pippo" could be known

[2015-05-18 15:14] agazzarini commented on #16
As consequence of a first integration with SolrCloud, the SolrGraph has been completely removed and its behaviour has been split between LocalGraph and ReadOnlyCloudGraph. So this issue is no longer valid.

[2015-05-18 15:14] #16 closed

[2015-05-18 16:39] agazzarini opened #79 "Custom datatypes support"
Custom datatype aren't actually handled (they are indexed as they were plain strings). In case of SPARQL queries with such custom datatypes, the results are wrong: both string and custom datatyped literals are returned.

----------------------------
see org.gazzax.labs.solrdf.integration.sparql.LearningSparql_SELECT_ITCase.customDatatype()

[2015-05-18 20:44] agazzarini commented on #75
Hi @michaeloa, tomorrow I will put a "troubleshooting" section on the getting started page so we will close this issue ok?

[2015-05-18 21:24] michaeloa commented on #75
Sure, no problem. Unfortunately, I didn't have time to look more closely at this today, except to try and throw up a compilation on a VM with Precise which failed (for a different reason than the OP). Since we're anyway going to be running SolR on 14.04 servers, it's not worthwhile for us to spend much more time trying to figure this one out.

Btw, regarding your #76, I found the installation inst

[2015-05-19 04:54] agazzarini commented on #75
Hi @michaeloa, sounds great. Another intersting option could also be to
provide a preinstalled VM image wth SolRDF.
About the fork, it would be great if who is investigating around SolRDF
(and in general anybody interested) could join the user and / or dev
mailing list

2015-05-18 23:24 GMT+02:00 Michael Akinde <notifications@github.com>:

[2015-05-19 04:59] agazzarini opened #80 "Move the download bundle outside Github"
The download bundle is a preconfigured and pre-built solr home with all stuff needed by SolRDF. Being part of the master branch, when someone clones the repository, that bundle definitely slows down the download because it contains all required dependencies.
It would be great to have that bundle on some other place.

[2015-05-19 05:49] agazzarini commented on #80
The download bundle has been moved in Dropbox [1]

------------------------
https://dl.dropboxusercontent.com/u/10110651/solrdf/solrdf-1.0.zip

[2015-05-19 05:49] #80 closed

[2015-05-19 06:52] martin-voigt commented on #75
Hi,
hopefully in June I can give SolRDF a try and since we use Docker to encapsulate our services I will try to provide a Docker container fr SolRDF.

[2015-05-19 08:30] agazzarini commented on #75
Wow, that would be absolutely great! I'm not expert on this topic, what
is the "deliverable" artifact of such Docker thing? An image file? I
setup a Dropbox account so we could put that stuff there

On 05/19/2015 08:52 AM, martin-voigt wrote:

[2015-05-19 08:38] agazzarini commented on #77
Still on this point: after fighting a lot with this thing I don't know how it coudl be solved for an automatic installtion (e.g. things you read in the getting started page, integration tests and so on). The wrong version of httpclient [1] comes bundled with Solr and I'm not able to force it to use a different version. So at the moment I just commented out those integration tests that are using th

[2015-05-19 08:39] agazzarini commented on #77
In a manual installation one could replace that library directly in the solr webapp and hopefully everything should be ok. I will try that and let you know

[2015-05-19 10:32] ahagenbruch commented on #69
Am 18.05.15 um 15:11 schrieb Andrea Gazzarini:

Hi Andrea,

I see your point, but I had these two use cases in mind when I wrote the
proposal:
- Fielded search: The user wants to search on a specific field instead
of on an aggregated field for 'simple search'. In most cases this would
be done in an advanced search form in the front end where the user
doesn't have to know about the actual field nam

[2015-05-19 13:40] ahagenbruch commented on #76
Maybe using Docker could be another route for us to investigate. Perhaps we should look into how the Solr-Dockerfile https://github.com/makuk66/docker-solr has to be modified to make things work for SolRDF...

[2015-05-19 13:44] agazzarini commented on #76
Yes yes absolutely, this morning Martin send a post about this thing and
I completely agree. I don't know IzPack and that "non functional" thing
would require some time. Instead using a VM image or something like that
could be the best option, as it's just matter to install the software
and put the VM somewhere (I  created a dropbox account so we could use
links coming from public folder)

On 05/1

[2015-05-20 09:51] agazzarini opened #81 "URI() function doesn't convert blank nodes"
sample_data.ttl
[code]

CONSTRUCT query
[code]

SOLRDF

[code]
 JENA MEM MODEL
[code]

[2015-05-20 10:42] michaeloa commented on #75
We've been looking at Docker in our current project, though we haven't moved to using it for production usage yet. But this would definitely be something we could find interesting to use, too.

[2015-05-20 12:50] agazzarini commented on #81
The same query with URI(ENCODE_FOR_URI(?o)) is working

[2015-05-20 16:13] agazzarini opened #82 "INSERT {...} WHERE {...} fails because of missing SortSpec and QParser"
The problem is that the LocalGraph is created with a QParser instance only in case of queries and non when we are doing update request. Therefore, the WHERE clause, while selecting the target domain, doesn't find a valid SortSpec for creating the DeepPagingIterator.

[2015-05-20 16:16] agazzarini commented on #82
Issue has been fixed with the latest commit.

[2015-05-20 16:16] #82 closed

[2015-05-23 16:32] agazzarini commented on #49
Closed as "wontfix" as it's better to provide a ready-to-use VM or something like that.

[2015-05-23 16:32] #49 closed

[2015-05-23 16:34] agazzarini commented on #23
Closed, as the whole design has been changed with the introduction of LocalGraph and ReadOnlyCloudGraph (SolRDFGraph doesn't exists anymore)

[2015-05-23 16:34] #23 closed

[2015-05-23 16:35] #68 closed

[2015-05-25 06:51] agazzarini opened #83 "Stateless LocalGraph and LocalDatasetGraph loose named graph information"
The current LocalGraph implementation is completely stateless and therefore an new instance is created for each (query / update) request. That causes some problems because the graph names collection management (inherited from the Jena superclasses)  is completely transient.

Specifically, the collection is held in memory, so two subsequent calls on containsGraph() will be applied to different Data

[2015-05-26 08:28] agazzarini commented on #83
Issue has been fixed by overriding listGraphNodes and _containsGraph. Those methods were looking in a in-memory structure in order to produce their results. Now, since we are creating a dedicated graph and dataset graph for each request, that transient structure was always empty, even if we previously loaded some data in a given (named) graph.

The current implementation of listGraphNodes always d

[2015-05-26 08:28] #83 closed

[2015-05-26 17:29] agazzarini commented on #8
At the moment this is the IT situation:

- 30 SPARQL Updates test cases from LearningSPARQL examples (green)
- 116 SPARQL Queries (SELECT ASK CONSTRUCT DESCRIBE) test cases from LearningSPARQL.: there are few  ignored tests; for each of them I created a dedicated issue
- 17 Object Query Faceting
- 22 Range Object Query Faceting
- 2 issue-validating tests (Issue53_ITCase and Issue64_ITCase)

Briefl

[2015-05-26 17:29] #8 closed

[2015-05-28 20:00] agazzarini opened #84 "Wrong content-type in sparql-results when /sparql is invoked from a web browser"
The content-type in the scenario described in the summary should be set to text/xml or something that the browser is able to understand and display in a web page. At the moment the application/sparql-results+xml is not recognized so it causes (on browser side) the opening of the download / open pop-up.

[2015-05-29 05:32] ahagenbruch commented on #84
Hmm, why sacrifice this more detailed (and correct) mime type for something that is convenient for only one type of client. People will probably not query SolRDF directly most of the time but via some proxy or web form, so I wouldn't call it a bug but a feature. ;-) Just my 2 cents...

[2015-05-29 05:52] agazzarini commented on #84
@ahagenbruch +1
To be honest I never called a SPARQL endpoint from a web browser :) so, after seeing this behaviour, I thought it is something more friendly than a command line. So I agree with you about the "nature" of the issue, it is a feature, not a bug  (just changed)

Thanks

[2015-05-29 17:07] agazzarini commented on #44
Graph(s) hierarchy has been changed a bit in order to centralize in a supertype layer (SolRDFGraph) all common behaviours (common between LocalGraph and ReadOnlyCloudGraph).

At the moment distribuited indexing works, but a lot of queries from the integration suite (correctly working in standalone mode) fail. For some of them the reason is the autocommit interval which is not running in the same m

[2015-05-30 18:25] agazzarini commented on #44
The main problem with the failing tests has (fortunately) nothing to do with the autocommit. The problem is the different char encoding rules between the LocalGraph, which is indexing and querying locally without any network (http) call, and the ReadOnlyCloudGraph which is doing a lot of http round-trips to distribute queries. I got that working after several tries but I didn't commit as there are

[2015-06-01 07:57] agazzarini opened #85 "listGraphNodes() doesn't filter out the default (unnamed) graph placeholder"
The reason is a wrong filter query which doesn't include the prohibited clause (-) as a prefix of that query.

[2015-06-01 08:00] #85 closed

[2015-06-01 14:45] agazzarini commented on #44
Partial results have been merged in master as the SELECT, DESCRIBE, ASK and CONSTRUCT integration tests are all working in SolrCloud mode.

The r_rdf_mode_in_solrcloud branch is still in progress as there are some failures related with SPARQL updates.

[2015-06-05 06:43] agazzarini commented on #44
After fighting a bit (mostly against stupid things like URL encoding) I finally got SolRDF working in SolrCloud mode!
The whole SPARQL 1.1 integration test suite (more or less 150 SELECT, ASK, CONSTRUCT and UPDATE examples) is working. There are just few minor test cases that have been @Ignored (for each of them there's a dedicated issue)

Although I think something has to be improved on queries o

[2015-06-05 06:43] #44 closed

[2015-06-17 04:05] brianchen2012 opened #89 "The count query will trigger heavy looping"
The following count query will get the no endless looping.
SELECT (COUNT(*) as ?count) WHERE {?s ?p ?o .}

[2015-06-17 07:16] agazzarini commented on #89
Hi @brianchen2012
I have few questions, as the test suite already contains a test that successfully executes the following query:

[code]
which is very similar to your query.

- Are you running SolRDF in standalone or Cloud mode
- What is the size of the underlying dataset? In other words: what is the expected result of the query?

Thanks for entering this
Andrea

[2015-06-17 07:23] agazzarini commented on #89
@brianchen2012 please forget my questions: I just reproduced it

[2015-06-17 18:34] agazzarini commented on #89
A short update on this: that is not an endless loop. I know, it seems but it isn't.

The COUNT keyword evaluation triggers a scan across *any* entry in the target model defined by the WHERE condition (in the example on the whole dataset), so for instance if you have 1.000.000 of triples the query above does 1.000.000 of iterations...taking a lot of time...and this is thr problem.

[2015-06-17 22:10] brianchen2012 commented on #89
Yes, it will iterate through the result set

[2015-06-19 18:15] agazzarini commented on #77
Patch has been applied. Test case org.gazzax.labs.solrdf.integration.sparql.LearningSparql_SELECT_ITCase.serviceKeyword() is now green! Many thanks @brianchen2012

[2015-06-19 18:15] #77 closed

[2015-06-19 18:25] agazzarini commented on #89
@brianchen2012 I'm still fighting with this issue, it seems that a deeper look into Jena internals is needed, so I think it will take me a bit

[2015-06-25 14:45] agazzarini opened #91 "Jar artifact with a war project packaging"
After changes related with issue #77 the project packaging has been changed from jar to war so SolRDF classes are no longer within the solrdf-x-y.jar but instead they are compiled in the WEB-INF/classes webapp folder

Although that change fixed the issue #77 the primary artifact that needs to be produced is a jar, not a whole web application. So IMO adding the maven-jar-plugin to SolRDF pom.xml co

[2015-06-26 13:27] agazzarini opened #93 "Project layout refactoring"
As consequence of issue #91 and thanks to suggestions coming from @brianchen, I will do a bit of refactoring on the project layout so it will become a multi-module project with

- a top level parent
- a "core" project, which builds the jar artifact
- an "integration test" project, for running the integration test suite
- a "client" (or whatever name) project for including source code related with

[2015-06-26 13:27] agazzarini commented on #91
Becomes invalid after opening issue #93

[2015-06-26 13:27] #91 closed

[2015-06-26 15:52] agazzarini commented on #93
The project layout has been refactored. The current structure is:

* **solrdf**: top level project with pom packaging
   * **solrdf-core**: core project containing source code and unit tests of solrdf plugin
   * **solrdf-client**: project that will hold the solrdf client lib (issue #66)
   * **solrd-integration-tests**: module dedicated to SolRDF integration tests.

The third module can also be u

[2015-06-26 15:52] #93 closed

[2015-06-28 16:56] agazzarini opened #94 "java.text.ParseException: Unparseable date: "2008-06-08""
Using the BSBM generated dataset, the following query, that involves a DateTime datatype:

[code]
Raises the following exception:

[code]

The problem seems to be the DateFormat used in FieldInjectionRegistry, which doesn't allow optional parts in date pattern.

VIP: This error has been detected on the local graph family, and once fixed, should be applied also to cloud family.

[2015-06-28 19:55] agazzarini commented on #94
Issue has been fixed in "issue_89" branch...I will merge that tomorrow

[2015-07-13 15:01] agazzarini commented on #94
Pull request, related with this issue, from branch "issue_89" has been merged

[2015-07-13 15:01] #94 closed

[2015-07-14 09:02] agazzarini opened #96 "Query Solr-specific optimizations"
The first implementation step of the Solr-Jena bridge has been actually completed: as suggested  by Jena devs, that is basically a Solr-specific implementation of the Jena graph and dataset domain model.

Now, it's time to go ahead with non-functional requirements, efficiency first of all: the default behaviour of Op and related classes (in general I think a lot of things that are in charge to man

[2015-07-14 09:03] agazzarini commented on #89
Closed as it is not a bug, I opened the issue #96 for the general optimization topic

[2015-07-14 09:03] #89 closed

[2015-07-14 12:55] agazzarini commented on #66
The module development is officially started. A first commit has been pushed in, with a proxy (SolRDF class) and a partial add interface.

The main goal of this module is to bring a (Java) client API that abstracts as much as possible the interaction with a remote SolRDF.

[2015-07-14 12:57] agazzarini commented on #66
Development has been confined in r_issue_66_solrdfj branch

[2015-07-15 13:16] agazzarini commented on #66
Although the interface is not completely defined, I put (i.e. merged in the master) a first set of Add operations (from Jena Model) and the (13) positive unit tests that verify the corresponding behaviour

[2015-07-17 13:53] agazzarini opened #99 "Integration Test suite refactor with SolRDF (Java) client API"
Although the IT suite is currently working, after developing the Java client API module, it would be great to use those libraries for connecting with SolRDF.

[2015-07-24 06:24] agazzarini commented on #96
The first step is a Solr-specific implementation of OpBGP and corresponding execution plan.

An idea (that I'm testing) is:

- run a (separate) filter query for each triple pattern
- take the DocSet with the lowest cardinality
- intersects that one with the second pattern, the result with the third pattern and so on

In this way the total number of operations needed should be smaller than the curr

[2015-07-26 18:34] agazzarini opened #102 "Continuous Integration Server"
A Jenkins deployment with a SCM poll + anonymous access for showing the build history

[2015-07-26 18:35] agazzarini commented on #102
Jenkins has been installed and configured. It is successfully running the unit and integration test suites. However, I have some issue with the anonymous user in Jenkins.

In addition, I have to add some metric plugin in SolRDF pom.xml (like Emma and PMD)

[2015-07-26 18:42] agazzarini commented on #96
A great step ahead: I created the first working version of the Jena StageGenerator, which is in charge to execute and resolve Basic Graph Patterns (BGPs), the SPARQL building blocks.

It leverages low-level Solr / Lucene stuff in order to speed up and optimize the patterns execution. At a first glance, I see good results so it seems the idea could work. However, I need

- to structure / refactor t

[2015-07-26 20:02] agazzarini commented on #96
The stuff above has been committed in a dedicated branch - issue_89 - so it's not in the master

[2015-07-27 05:44] agazzarini commented on #102
CI Server is here (anonymous access has been enabled) : http://178.239.178.241:9090/jenkins/job/SolRDF

[2015-07-27 16:31] hansidm opened #103 "Document count when indexing the same triples over and over again"
Document count is not consistent when indexing the same ontology over and over again. For instance, the oboe-core ontology - http://ecoinformatics.org/oboe/oboe.1.0/oboe-core.owl - loaded with command: curl -v http://localhost:7574/solr/store/update/bulk?commit=true -H "Content-Type: application/rdf+xml" --data-binary @oboe-core.owl
- First load Num Docs goes to 576
- Second load Num Docs goes to

[2015-07-27 18:01] agazzarini commented on #103
Hi @hansidm
it seems the whole questions is about blank nodes. I don't have the necessary experience to assert that this is not a problem, so this is a premise to what I'm going to illustrate. Using a simple main with an in-memory Jena Model (i.e. no SolRDF at all), assuming you have a file /work/tmp/data.nt with the following content:

[code]

If you run this class
[code]
It will print

[code]

I

[2015-07-28 05:16] agazzarini commented on #84
I see a lot of SPARQL frontends (some links below) that can be installed in front of SolRDF with a minimum effort. Having said that, I agree with @ahagenbruch: implementing this issue would introduce a conditional logic just for handling this case, which is not how a SPARQL endpoint is usually invoked.

http://yasgui.org
http://www.ldodds.com/projects/twinkle
http://laurensrietveld.nl/yasgui
http:

[2015-07-28 05:16] #84 closed

[2015-07-28 07:43] agazzarini commented on #102
Emma (Coverage reports) plugin has been added. The coverage report diagram is at the moment empty in Jenkins because there's no history but it will be starting from the next build.

[2015-07-29 06:32] agazzarini commented on #102
PMD (code metrics) plugin has been added. Sadly, there is not a graphical overview on the dashboard like JUnit or EMMA. You can find PMD Warnings [here](http://178.239.178.241:9090/jenkins/job/SolRDF/12/pmdResult)

[2015-07-29 06:32] #102 closed

[2015-07-29 12:09] agazzarini opened #104 "Migration to Java8"

[2015-07-29 12:10] agazzarini opened #105 "Migration to Solr 5.x"

[2015-08-03 12:16] oman-ispace opened #106 "Text search over the index"
Hi,

Can I use SolRDF for performing text search on the created Solr index or is it only SPARQL queries that I run against the index.

Duhai

[2015-08-03 12:59] agazzarini commented on #106
Hi Duhai,
nice question...we already had a discussion about this topic, please see
here [1] and here [2].
In addition, another user yesterday post a new topic [3] on the mailing
list that could be interesting from this perspective: basically he
merged the plain SolRDF Schema with the schema coming from Blacklight,
which I think contains TextFields and therefore allows fulltext search.

The first q

[2015-08-03 13:09] agazzarini commented on #106
(referencing the issue #69 by @ahagenbruch)

[2015-08-05 16:32] #106 closed

[2015-08-05 16:38] agazzarini commented on #103
After few days I don't have any further information about this topic, so at the moment I have to  assume this is something related with the underlying RDF Framework (i.e. Apache Jena) or something that is "normal" within the RDF Data Model.

@hansidm as alternative, you could load that ontology (or in general your dataset) in a specific graph; in this way, in case you need to reload the whole data

[2015-08-05 16:38] #103 closed

[2015-08-11 15:18] agazzarini commented on #96
Still a lot of things to do. I'm trying to build a bridge between the Jena Op / OpExecutor framework and the Solr world. The general and overall iterator behaviour of Jena classes (i.e. QueryIterator) sometimes doesn't fit very well with the Solr logic especially when a lot of members participate in the query execution plan. Something, for example, like this:

[code]
So what I'm trying to do is a

[2015-08-11 15:22] agazzarini commented on #38
Closed as with the underlying datamodel introduced some month ago, this issue is no longer valid

[2015-08-11 15:22] #38 closed

[2015-08-13 15:06] agazzarini commented on #104
Link this task with issue #96. Query optimization work is the ideal context for introducing Java8 and all its beauties. Mainly, (parallel) streams are very very interesting for speeding up the internal Lucene sub-queries need for executing a given SPARQL.

[2015-08-15 16:51] agazzarini commented on #96
A first implementation of Basic Graph Pattern execution seems working. It works directly at Lucene low-level, executing subsequent joins between docsets (resulting from each triple pattern in the graph).

Again, the underlying idea seems working but needs some more time: I tried running the integration suite and there are some expected failures (but also a lot of green tests) so the issue_89 branc

[2015-08-15 16:54] agazzarini commented on #75
Closing this issue after renaming of issue #76

[2015-08-15 16:54] #75 closed

[2015-08-15 16:54] #63 closed

[2015-08-17 17:23] hansidm opened #107 "Error 400 when using YASGUI as a frontend"
I am getting the following error when using YASGUI as a frontend to SolRDF

<?xml version="1.0" encoding="UTF-8"?>
<response>
<lst name="responseHeader"><int name="status">400</int><int name="QTime">1</int></lst><lst name="error"><str name="msg">SPARQL Protocol violation: Cannot determine the POST request type you sent. Content-type must be application/sparql-query or application/sparql-update and

[2015-08-17 17:46] agazzarini commented on #107
The content-type detection was a bit wrong, as the check was using "equals" instead of "startsWith". The request that caused the failured contained a content-type like

"application/xxx-blabalbal;charset=UTF-8"

so SolRDF, looking for the only mime-type section, rejected the request as "application/xxx-blabalbal;charset=UTF-8"  != "application/xxx-blabalbal" and therefore the requested content typ

[2015-08-17 19:35] #107 closed

[2015-08-23 16:35] agazzarini commented on #96
The issue_89 branch contains a rough implementation of

* BGP executor (QueryIterator) that works with the most part of BGP integration tests
* Filter executor that injects the filter directly in the BGP executor instead of decorating it
* Conditional executor, which compares two lazy BGP (not really satisfied about the implementation, but it's working)

There are still 14 failures and 8 errors in

[2015-08-31 20:49] chetrebman opened #108 "Hybrd query returning incorrect "numFound""
THE DATA

<http://coalliance.org/id/1> <http://coalliance.org/siteCode/site_A> "MK_1".
<http://coalliance.org/id/2> <http://coalliance.org/siteCode/site_A> "MK_2".
<http://coalliance.org/id/3> <http://coalliance.org/siteCode/site_A> "MK_3".

<http://coalliance.org/id/6> <http://coalliance.org/siteCode/site_B> "MK_1".
<http://coalliance.org/id/4> <http://coalliance.org/siteCode/site_B> "MK_4".
<htt

[2015-08-31 21:15] chetrebman commented on #108
Here is another query with possibly the same issue
SELECT ?object
WHERE {
  ?subject <http://coalliance.org/siteCode/site_A> ?object.
  MINUS {?subject2 <http://coalliance.org/siteCode/site_B> ?object}
}

`<result name="response" numFound="6" start="0" maxScore="1.0">
  <head>
    <variable name="o"/>
  </head>
  <results>
    <result>
      <binding name="o">
        <literal>MK_2</literal>

[2015-09-07 12:04] agazzarini commented on #108
Hi @chetrebman sorry for the long absence...I can confirm you: that is definitely a bug, and the bad news is that is not a trivial task...it is strictly related with the issue #96, in other words it has something to do with a Solr-optimized implementation of the SPARQL plan execution.

Technically: the numFound attribute, as you described, is reporting a wrong number because it is doing a kind of

[2015-09-29 17:17] agazzarini opened #111 "SolrCloud build profile is looking for wrong artifact"
The SolrCloud build profile is looking for a deployable called solrdf.war while instead should be solrdf-integration-tests.war

[2015-09-29 22:57] hansidm opened #112 "SPARQL delete where not working"
I have the following behaviour when dealing with DELETE WHERE clauses.

# Test 1:

[code]
When I have no triples to be deleted, I get status 0.

[code]

# Test 2:

[code]

When I do have triples to be deleted, I get the following error:

[code]

# Test 3

[code]
I get the following (doesn't matter if I have triples do delete or not):

[code]

But when I do have triples to delete, they are not dele

[2015-09-29 23:18] hansidm commented on #112
# Update
On Test 2, I noticed that the DELETE indeed deletes some triples, but not them all. It is crashing in the process of deleting and returning a Bad Request 400.

[2015-09-30 06:42] agazzarini commented on #112
Hi @handsim I think reproduced the problem. I said "think" because I don't have your dataset.
The problem seems in a wrong date parsing....do you have some parse error message in the log?

[2015-09-30 13:31] hansidm commented on #112
Hi @agazzarini, here is the stacktrace that I am getting when trying Test 1:

org.apache.solr.common.SolrException: Invalid Date String:'2015-09-29T08'
	at org.apache.solr.schema.DateField.parseMath(DateField.java:184)
	at org.apache.solr.schema.TrieField.readableToIndexed(TrieField.java:402)
	at org.apache.solr.schema.TrieField.readableToIndexed(TrieField.java:379)
	at org.apache.solr.schema.Trie

[2015-09-30 18:00] agazzarini commented on #112
Argh, my bet was right :) ok that's a matter of date parsing. I will manage that as soon as possible and I will formalize the fix in a test case so we can have a regression, too.

[2015-10-13 19:40] agazzarini commented on #112
Hi @hansidm,
issue has been finally fixed ;)

I created 4 integration tests [1] for replicating the scenarios described above. Specifically all those tests use a dataset [2] which contains dates (as objects). Each of them executes a (delete) query with a different combination of variables within the same triple pattern:

?s ?p ?o
?s <:date>  ?o
<:xyz> ?p ?o .
?s ?p "2010-10-10"^^xsd:date
---------

[2015-10-13 19:44] #111 closed

[2015-10-13 19:47] agazzarini commented on #99
Integration test suite is now using the new SolRDF client API.
However, I had to comment out (i.e. @Ignore) the integration tests related with hybrid mode (i.e. faceting). This mainly because

* The issue #108 revealed an underlying problem in the hybrid model
* The introduction of SolRDF client API broke something in the integration test

[2015-10-13 19:47] #99 closed

[2015-10-15 02:40] hansidm commented on #112
Hi @agazzarini,

I can't find the use cases containing xsd:dateTime, only xsd:date. I have compiled the latest resources and I the problem is still happening when trying to delete a triple with a xsd:dateTime object.

Also, I have tried inserting as xsd:data, but it won't let me insert a date and time under the type xsd:date.

Thanks.

[2015-10-15 02:55] paulopinheiro1234 commented on #112
Hi @agazzarini ,

The insert below may provide all you need to test the delete of an object with a date/time property. The insert works fine. The delete will generate a 400 bad request result. When we do a describe in the object after to bad request result, we see that some of the triples of the object were deleted, but not the triple with the data/time property.

INSERT DATA {  <http://localhost:

[2015-10-15 07:26] agazzarini commented on #112
Hi Paulo, Henrique,
many thanks I will check that immediately

Best,
Andrea

2015-10-15 4:55 GMT+02:00 Paulo Pinheiro <notifications@github.com>:

[2015-10-15 15:14] paulopinheiro1234 commented on #112
Hi Andrea,

We are very thankful for all the work you have to done developing solrdf,
which is core for our work on hadatac.

Regarding issue #112, if it would be possible for us to handle timestamps
with date instead of datetime, we would do it. Unfortunately, date is not
an option for us.

Many thanks,
Paulo
On Oct 15, 2015 3:26 AM, "Andrea Gazzarini" <notifications@github.com>
wrote:

[2015-10-15 16:10] agazzarini commented on #112
Hi @paulopinheiro1234, I'm proud to hear that; about the #112: absolutely no problem at all, this is an issue and it must be solved. I don't like very much workarounds

Best,
Andrea

[2015-10-15 16:56] agazzarini commented on #112
Hi @paulopinheiro1234 @hansidm I just committed another patch.
I added a method in the testcase above that is reproducing the scenario described by @paulopinheiro1234.

Let me know if you have other scenarios, I think everything should be fixed but date and datetime management is a complicated topic so some side-effect it could be still possible.

I'll leave open the issue for some time

Andrea

[2015-10-16 00:11] paulopinheiro1234 commented on #112
We tested on our side, and it appears to be working fine now. That you a lot, @agazzarini!

[2015-10-17 16:27] agazzarini opened #113 "Create Release 1.0 (Solr 4.10.x)"

[2015-10-17 16:29] agazzarini commented on #113
Actually I did a small disaster while trying to understand how the release process should work :)

[2015-10-17 16:50] agazzarini commented on #113
Hi guys,
a brief note for informing you that issue #105 (migration to Solr 5.x) has been completed.
I did a small disaster with releases and branches but at the end things are as follows:

1) SolRDF 1.0
Although it has some issues (Hybrid mode and query optimization) I marked as 1.0 the version which is using Solr 4.10 (actually 4.10.x). You can find it in the release section [1] or in a dedicated

[2015-10-17 16:50] #113 closed

[2015-10-17 16:53] agazzarini commented on #104
I close this issue as it has been integrated as part of the new working branch (> 1.0). The current master already requires Java 8

[2015-10-17 16:53] #104 closed

[2015-10-17 16:54] agazzarini commented on #105
Done. SolRDF which uses Solr 4.x has been marked as release 1.0. The current branch master is using Java 8 and Solr 5.3 (actually 5.3.1)

[2015-10-17 16:54] #105 closed

[2015-10-20 10:32] agazzarini opened #114 "Add JRebel configuration"

[2015-10-20 10:33] #114 closed

[2015-10-20 13:40] agazzarini opened #115 "Change version (1.0 -> 1.1)"

[2015-10-20 13:42] #115 closed

[2015-10-21 10:16] ahagenbruch opened #116 "Build Failure When Following the Instructions for 1.1"
When I'm running the instructions I get into the following error in the first step:

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[INFO] Solr RDF plugin .................................... SUCCESS [  0.905 s]
[INFO] solrdf-core ........................................ SUCCESS [  5.987 s]
[INFO] solrdf-client .......................

[2015-10-21 10:36] agazzarini commented on #116
Hi @ahagenbruch, in the target folder you should find the surefire reports that contain the info about the failed tests, could you please send me them? In the meantime, just to reproduce the problem, could you please give me some info about your environment (OS, JVM version)?

Thx

[2015-10-21 10:37] agazzarini commented on #116
If you get the failed test in the surefire reports, you can paste here the stacktrace, otherwise send me the files, I will find that information.

[2015-10-21 10:53] ahagenbruch commented on #116
You can find the files here: https://seafile.noc.ruhr-uni-bochum.de/d/b30b51f085/
I'm running on CentOS 7, Java 1.8.0_60, and Maven 3.3.1

[2015-10-21 10:57] agazzarini commented on #116
Just a brief note: I think that has nothing to do with your error, but I made a change to the installation notes, removing these steps

[code]
There's no Cargo and this snippet was an erroneus copy and paste from 1.0.
I'm checking your files

[2015-10-21 11:09] agazzarini commented on #116
That's really strange, I don't have this error on my local servers, but I got the same on Jenkins [1] (and it didn't send me any email about that :( but this is another issue).

I need some more time. In the meantime, as a workaround, if you want to skip the tests you can do

[code]

-----------------------
[1] http://178.239.178.241:9090/jenkins/job/SolRDF/23/org.gazzax.labs$solrdf-integration-te

[2015-10-21 15:03] agazzarini commented on #116
Hi @ahagenbruch the problem has been fixed, I tried in my servers and in Jenkins [1] and now everything seems ok. Let me know if things are working for you, too. I will close this issue in that case.

On top of that, I think this is a really bad (read: technical) way to provide a try of SolRDF because you have to fight with technical details like Maven and so on. So, I think I will provide two ins

[2015-10-21 15:48] agazzarini opened #117 "Create Maven artifact (+ repository) for solrdf-client 1.0 and 1.1"
In this way the usage of the client library will be easier, as the user doesn't have to worry about dependencies.

[2015-10-21 15:50] agazzarini opened #118 "Remove Eclipse (dev) launchers for 1.1"
Being Solr 5.x a standalone app, some Eclipse launchers are no longer valid.

[2015-10-21 15:54] #118 closed

[2015-10-21 17:10] agazzarini commented on #116
Hi @ahagenbruch I'm going to close this issue: I stressed a lot of my colleagues and we are sure that the issue has gone. Hopefully you will get the same behaviour, otherwise please reopen it!

[2015-10-21 17:10] #116 closed

[2015-10-21 17:53] ahagenbruch commented on #116
You can find the files here: https://seafile.noc.ruhr-uni-bochum.de/d/b30b51f085/
I'm running on CentOS 7, Java 1.8.0_60, and Maven 3.3.1

[2015-10-21 18:05] ahagenbruch commented on #116
Thanks a lot, Andrea, works like a charm now!

[2015-10-22 07:21] ahagenbruch opened #119 "Build Failure for 1.1 on Mac OS X"
When building SolRDF on Mac OS 10.9.5 (Java 1.8.0_65, Maven 3.3.3) I get:

[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project solrdf-core: Compilation failure
[ERROR] /home/someuser/tmp/solrdf-download/solrdf/solrdf-core/src/main/java/org/gazzax/labs/solrdf/search/component/PagedResultSet.java:[13,71] package com.sun.tools.interna

[2015-10-22 09:44] agazzarini commented on #119
Hi @ahagenbruch my fault, I inserted a comment in a method with a wrong reference to the Result class (and the IDE automatically imported that class).

I removed that, so now it should work. I say "should" because I don't have MAC OS so please keep me informed and I will (hopefully) close the issue

[2015-10-22 11:04] ahagenbruch commented on #119
Yep, that must have been it. Everything's ok now. Thanks a lot (again) for your quick response...

[2015-10-22 11:04] #119 closed

[2015-10-25 16:31] agazzarini opened #120 "Linked Data Fragments interface"
Not sure if this is the appropriate and correct "term", but reading from here [1] I think this is a great feature for SolRDF. In addition, I think it should be quite easy to get something working, as the abstract description of the outcoming resultset is very similar to Solr responses (at least in terms of definition)

----------------------
[1] http://www.hydra-cg.com/spec/latest/linked-data-frag

[2015-11-05 17:44] agazzarini commented on #120
Some pointers

http://linkeddatafragments.org/
http://client.linkeddatafragments.org/
http://linkeddatafragments.org/in-depth/
http://www.hydra-cg.com/spec/latest/triple-pattern-fragments/
https://github.com/LinkedDataFragments

[2015-11-05 17:45] #112 closed

[2015-11-05 17:46] agazzarini commented on #66
Closing this bug as a first version of the SolRDF client library has been implemented and published.

[2015-11-05 17:46] #66 closed

[2015-11-05 17:46] #36 closed

[2015-12-11 15:44] agazzarini commented on #120
I created a new branch "ldf_endpoint" for this work. The branch is not compiling, as I inserted a couple of new methods in client library. There's an already available SearchHandler for listing all available datasets, but at the moment it is just returning a plain dataset without metadata (paging, source, hydra properties and so on)

[2016-02-03 20:53] rac021 opened #121 "Default name Collection in SolrCloud"
SolrCloudClient has the default collection set named "store"

[2016-02-14 10:48] agazzarini commented on #121
Hi @rac021 could you try with the latest fix?

[2016-02-26 19:17] hansidm opened #122 "Error while programmatically loading ontologies"
I am getting the following stracktrace when trying to load some ontologies that locally stored on my machine programmatically using Jena:

[code]

And here it goes my code that tries to upload the ontologies:
[code]

And some of the ontologies I'm trying to load:
http://hadatac.org/ont/hasneto#
http://ecoinformatics.org/oboe/oboe.1.0/oboe-standards.owl#
http://www.w3.org/ns/prov#

[2016-02-26 19:20] hansidm commented on #122
Just to add, the error I get in Jena is 500 Server error.

[2016-02-26 19:32] hansidm commented on #122
And the SolRDF used at the CreateHTTP method:
http://127.0.0.1:8983/solr/store/rdf-graph-store

[2016-02-28 15:54] agazzarini commented on #122
Hi @hansidm,
that sounds really strange. The integration test suite is currently using the SolRDF Client API, which basically do the same. I've tried to run your code (using a different file, one of those used in the test suite) and everything works:
[code]

After that,

[code]

[code]

I suspect your (client) module is not filled. Check here

[code]

It is not a path, that must be a valid URI (ch

[2016-02-28 19:40] agazzarini commented on #122
I meant your local Model.

[2016-02-28 21:19] hansidm commented on #122
Hi @agazzarini,

I have created a new project with just that
[code]

The model is written to the console correctly. But when I can accessor.add, I get the following:
Exception in thread "main" org.apache.jena.atlas.web.HttpException: 500 - Server Error
[code]

I'm using Jena 3.0.1. The stack trace on Solr is the same that I previously pasted here.

[2016-02-28 22:10] hansidm commented on #122
UPDATE:
I recompiled SolRDF master branch (all integration tests successful). Same error. Also, I have tried with the sample dataset bsbm-generated-dataset.nt. Same error.

I am using Solr 5.3.2.

[2016-03-01 02:27] hansidm commented on #122
UPDATE:
The issue has to do with the use of the JTS Topology Suite libraries. My Solr instance contains not only SolRDF collections, but also regular Solr collection that have the one or more fields of the type solr.SpatialRecursivePrefixTreeFieldType. For that field type to work, JTS libs need to copied over to server/lib/ext directory inside Solr installation (they don't work when copied to the

[2016-04-17 18:14] agazzarini commented on #122
@handsim can we close this issue? I guess it has little to do with SolRDF.

What do you think?

[2016-04-18 11:23] cKlee opened #123 "Possible memory leak in SPARQL endpoint?"
Hi,
I'm using the solrdf-1.0 branch with JRE 1.7.0 and successfully loaded aprox. 125000000 documents to the store (and optimized). Solr queries are fine. But with simple SPARQL queries I always get a "java heap space out of memory" exception (even with LIMIT 1).

I'm running a 4 CPU 64 bit Debian with 16G RAM. I'm not very familiar with Maven, but I tried to give Solrdf a little bit more RAM with

[2016-04-18 12:50] agazzarini commented on #123
Hi @cKlee,
unfortunately this is part of https://github.com/agazzarini/SolRDF/issues/96 which is a huge work, still pending. The current implementation of SolRDF uses the general-purpose SPARQL Algebra implementation bundled with Jena, which is good for small or in-memory datasets.

A more sophisticated logic is needed here, in order to gain advantage from the underlying inverted index and most im

[2016-05-02 07:35] #122 closed

[2016-05-02 07:39] agazzarini commented on #108
Following the same thread, I paste the exchange with another user.

_"Hi,
How to add Facet option in curl query, with example of bsbm-generated-dataset.nt, I tried
curl "http://127.0.0.1:8080/solr/store/sparql" --data-urlencode "q=SELECT ?product ?label WHERE { ?product ?p ?label.} ORDER BY ?label LIMIT 10 &facet=true&facet.field=product" -H "Accept: application/sparql-results+json"
But it did not

[2017-03-04 21:57] sonvx opened #125 "Cannot build with cargo:run"
Hi there,

Could anyone show me why the maven command doesn't work? Is the pom.xml out-of-date?

I tried: # mvn clean verify cargo:run OR # mvn clean verify org.codehaus.cargo:cargo-maven2-plugin:run and None of them works. Probably extra configs of maven are required. Pls show me how.

[INFO] ------------------------------------------------------------------------
[INFO] Reactor Summary:
[INFO]
[

[2017-03-05 09:52] agazzarini commented on #125
Hi, the latest release is based on Solr 5.x so the cargo plugin cannot
be used (Solr is no longer a war).

Please have a look at the README file in the Github repository, there
are instructions for SolrRDF 1.1 and SolRDF 1.0 (maybe the one you were
looking for)

Let me know
Andrea

On 04/03/17 22:57, sonvx wrote:

[2017-10-04 23:25] firmao commented on #122
How do you solve the HttpException: 500 ?

[2017-10-06 10:51] agazzarini commented on #122
Hi, that error is just a generic failure signal, you should check the
system logs in order to understand what is the actual cause

Best,
Andrea

On 5 Oct 2017 01:25, "Andre Valdestilhas" <notifications@github.com> wrote: